In [1]:
import pyspark.sql
import pyspark.sql.functions as sf

In [2]:
spark = pyspark.sql.SparkSession.Builder().getOrCreate()

# Watson Sales Product Sample Data

In this example, we want to have a look at the pivoting capabilities of Spark. Since pivoting is commonly used with sales data containing information for different product categories or countries, we will use a data set called "Watson Sales Product Sample Data" which was downloaded from https://www.ibm.com/communities/analytics/watson-analytics-blog/sales-products-sample-data/

# 1 Load and inspect data

First we load the data, which is provided as a single CSV file, which again is well supported by Apache Spark

In [ ]:
basedir = "s3://dimajix-training/data"

In [32]:
data = spark.read\
    .option("header", True) \
    .option("inferSchema", True) \
    .csv(basedir + "/watson-sales-products/WA_Sales_Products_2012-14.csv")

### Inspect schema

Since we used the existing header information and also let Spark infer appropriate data types, let us inspect the schema now.

In [33]:
data.printSchema()

root
 |-- Retailer country: string (nullable = true)
 |-- Order method type: string (nullable = true)
 |-- Retailer type: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- Product type: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Quarter: string (nullable = true)
 |-- Revenue: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Gross margin: double (nullable = true)

### Inspect pivoting candidates

Now let us find some good candidates for a pivoting column. A pivoting column shouldn't have too many distinct entries, otherwise the result probably doesn't make too much sense and doesn't help the business expert in interpretation.

We can either use
```
data.select("Retailer type").distinct().count()
```
which will give us the number of distinct values for a single column, or we can use the Spark aggregate function `countDistinct` which allows us to retrieve information for multiple columns within a single `select`.

In [37]:
result = data.select(
    sf.countDistinct("Retailer country"),
    sf.countDistinct("Retailer type"),
    sf.countDistinct("Product line"),
    sf.countDistinct("Product type"),
    sf.countDistinct("Quarter")
)

result.toPandas()

,count(DISTINCT Retailer country),count(DISTINCT Retailer type),count(DISTINCT Product line),count(DISTINCT Product type),count(DISTINCT Quarter)
0,21,8,5,21,11

# 2 Pivoting by Product Line

The first example pivots by the product line, since there are only five different distinct values.

In [39]:
revenue_per_product_line = data.groupBy("Quarter", "Retailer Country").pivot("Product line").agg(sf.sum("Revenue"))
revenue_per_product_line.toPandas()

,Quarter,Retailer Country,Camping Equipment,Golf Equipment,Mountaineering Equipment,Outdoor Protection,Personal Accessories
0,Q3 2013,Sweden,1433530.62,1250510.97,794786.44,48039.27,3577140.77
1,Q4 2012,Spain,3264717.34,1593436.54,954726.68,211146.20,3991933.57
2,Q2 2013,Italy,5873795.00,2924732.03,1966086.80,111329.82,5921051.85
3,Q3 2012,United States,15847275.46,6085923.58,4055966.08,914399.41,22332252.19
4,Q1 2014,Switzerland,3966205.47,2157061.01,1640871.99,53438.20,5615068.69
5,Q2 2012,Germany,5315912.78,2059216.40,1310993.61,358070.12,6708060.03
6,Q1 2013,China,7745789.40,3746186.99,2269686.55,153304.19,8133065.76
7,Q2 2014,Austria,4221897.72,1989929.50,1669665.67,55040.42,7147750.02
8,Q1 2014,China,9213181.55,5195907.57,3799226.38,121771.71,11733720.68
9,Q4 2012,France,6286894.57,2582900.85,1641672.61,449593.78,8153053.17
10,Q4 2013,China,8321270.01,3733618.36,2610498.74,171772.65,10939185.49
11,Q3 2014,Finland,2457150.46,1161332.43,935449.60,30576.51,2147813.37
12,Q1 2013,Italy,4914143.08,2352227.29,1521927.16,101216.92,5008223.87
13,Q1 2013,Mexico,6515122.78,3280344.12,2246333.50,135141.26,3322493.17
14,Q3 2013,United Kingdom,6736706.28,2903067.34,2114737.75,144497.86,8604201.66
15,Q2 2013,Singapore,5820293.04,2761086.55,1758169.31,114896.36,5619145.99
16,Q2 2012,Belgium,2646928.76,998179.03,643968.27,176655.91,2666771.99
17,Q2 2013,Switzerland,3375814.41,1502476.21,1130805.81,70452.37,4752448.28
18,Q4 2013,Austria,3576398.08,1591177.44,1260385.71,84401.36,5686491.93
19,Q3 2012,Finland,4218633.64,1730512.66,1080285.22,253625.47,4010645.71
20,Q1 2014,Italy,5982691.54,3562817.72,2601420.59,78909.64,7466703.07
21,Q1 2014,United Kingdom,8467013.28,4565171.78,3391752.95,105570.64,10779650.13
22,Q2 2013,Spain,4869330.11,2171830.81,1566423.57,90135.52,4820164.49
23,Q3 2012,Austria,2413942.07,1132812.11,678753.52,166434.57,4022170.23
24,Q3 2012,China,6442925.78,2625982.92,1778324.57,401241.41,7301796.19
25,Q2 2013,Germany,7267089.08,3156685.19,2458897.52,145197.35,8454861.06
26,Q3 2012,Canada,5912444.81,2327386.12,1535405.46,351745.59,7672664.74
27,Q2 2012,Italy,3614435.27,1578628.20,964264.65,219949.47,4591893.90
28,Q3 2014,Austria,1507007.48,724583.35,603527.51,20029.75,2222147.68
29,Q3 2014,Denmark,697094.66,NaN,NaN,8121.48,848703.31
...,...,...,...,...,...,...,...
201,Q3 2012,Singapore,4671377.63,1658864.51,1187473.63,226497.02,3185131.58
202,Q3 2012,Italy,3602899.96,1583692.51,967811.00,222876.05,4604389.26
203,Q1 2012,United States,17430107.99,7580931.89,4629821.21,1039688.14,19568893.66
204,Q2 2013,Korea,6595894.01,3062072.62,1996236.09,128295.45,4541102.44
205,Q2 2014,Korea,7292754.24,3358469.13,2856852.69,89242.53,6415930.38
206,Q2 2014,Italy,6371878.09,3114595.97,2617691.30,79795.75,7545397.78
207,Q4 2013,Canada,7813774.39,3526031.47,2594288.19,173202.67,10555152.62
208,Q3 2012,Brazil,3070084.29,1176080.80,778338.50,175713.11,3599024.26
209,Q1 2012,Japan,7625547.04,3448119.56,2165082.90,473045.05,9144609.59
210,Q2 2014,Singapore,6551010.13,2848288.02,2638783.97,81717.58,8123224.71
211,Q2 2014,China,9762034.86,4474511.11,3819897.42,122530.98,11918485.44
212,Q3 2014,Japan,3596009.58,1704346.66,1464932.70,47959.82,5736853.37
213,Q3 2013,Spain,5185975.13,2213467.63,1708788.40,97587.78,4945793.87
214,Q4 2013,Sweden,1634207.84,1326237.76,1007249.73,63608.14,3969724.09
215,Q1 2013,Switzerland,2645499.00,1349081.05,874767.59,54416.73,4041078.26
216,Q2 2013,Canada,8884861.37,4012093.15,2921044.04,185719.87,11019924.56
217,Q4 2013,United States,19099301.67,8510746.77,6279087.03,427197.08,30869438.90
218,Q4 2012,Switzerland,2123844.39,897376.72,547725.85,149227.87,3163975.60
219,Q1 2013,Canada,7047571.68,3467602.58,2267787.57,152212.72,8344900.87
220,Q2 2013,Brazil,3398095.62,1526186.08,1089190.85,68549.90,4693276.33
221,Q4 2013,Netherlands,4701099.55,2375760.82,1609136.55,112497.77,5927022.84
222,Q1 2014,Belgium,3656035.24,1979995.54,1490886.72,47278.56,4741066.31
223,Q4 2012,Brazil,2826987.30,1135452.68,737292.12,166799.81,3708688.48
224,Q4 2013,Denmark,1845147.93,331854.53,242688.64,26658.73,2933316.93
225,Q1 2014,Finland,6614914.12,3700752.26,2579164.08,80812.09,5746147.32
226,Q2 2014,Sweden,2886658.67,1917255.46,1539344.09,37180.62,4531302.06
227,Q2 2014,Belgium,3880015.73,1722833.33,1505551.13,47924.34,5111504.00
228,Q2 2014,United States,24552601.92,11032775.44,9602092.49,302668.32,36187901.13
229,Q2 2013,Belgium,3575529.48,1627402.32,1223276.89,72646.57,4154780.66
230,Q2 2013,France,7095255.26,3236861.96,2370428.36,138992.36,9143757.02

## 2.1 Exercise

Craete an aggragated table with
* Country and Product Line in Rows
* The quantity for each quarter in different columns

In [ ]:
# YOUR CODE HERE

# 3 Unpivoting again

Sometimes you just need the opposite operation: You have a data set in pivoted format and want to unpivot it. There is no simple built in function provided by Spark, but you can construct the unpivoted table as follows
* For every pivoted column:
  * Project data frame onto non-pivot columns
  * Add a new column with an appropriate name containing the name of the pivot column as its value
  * Add a new column with an appropriate name containing the values of the pivot column
* Union together all these data frames

## 3.1 Specific Example

Now let us perform these steps for the pivoted table above

In [42]:
revenue_camping = revenue_per_product_line.select(
    sf.col("Quarter"),
    sf.col("Retailer Country"),
    sf.lit("Camping Equipment").alias("Product line"),
    sf.col("Camping Equipment").alias("Revenue")
)

revenue_golf = revenue_per_product_line.select(
    sf.col("Quarter"),
    sf.col("Retailer Country"),
    sf.lit("Golf Equipment").alias("Product line"),
    sf.col("Golf Equipment").alias("Revenue")
)

revenue_mountaineering = revenue_per_product_line.select(
    sf.col("Quarter"),
    sf.col("Retailer Country"),
    sf.lit("Mountaineering Equipment").alias("Product line"),
    sf.col("Mountaineering Equipment").alias("Revenue")
)

revenue_outdoor = revenue_per_product_line.select(
    sf.col("Quarter"),
    sf.col("Retailer Country"),
    sf.lit("Outdoor Protection").alias("Product line"),
    sf.col("Outdoor Protection").alias("Revenue")
)

revenue_personal = revenue_per_product_line.select(
    sf.col("Quarter"),
    sf.col("Retailer Country"),
    sf.lit("Personal Accessories").alias("Product line"),
    sf.col("Personal Accessories").alias("Revenue")
)

result = revenue_camping \
    .union(revenue_golf) \
    .union(revenue_mountaineering) \
    .union(revenue_outdoor) \
    .union(revenue_personal)

result.limit(10).toPandas()

   Quarter Retailer Country       Product line      Revenue
0  Q3 2013           Sweden  Camping Equipment   1433530.62
1  Q4 2012            Spain  Camping Equipment   3264717.34
2  Q2 2013            Italy  Camping Equipment   5873795.00
3  Q3 2012    United States  Camping Equipment  15847275.46
4  Q1 2014      Switzerland  Camping Equipment   3966205.47
5  Q2 2012          Germany  Camping Equipment   5315912.78
6  Q1 2013            China  Camping Equipment   7745789.40
7  Q2 2014          Austria  Camping Equipment   4221897.72
8  Q1 2014            China  Camping Equipment   9213181.55
9  Q4 2012           France  Camping Equipment   6286894.57

## 3.2 Generic Approach

Of course manually unpivoting is somewhat tedious, but we already see a pattern:
* Select all non-pivot columns
* Create a new column containing the pivot column name
* Create a new column containing the pivot column values
* Union together everything

This can be done by writing some small Python functions as follows:

In [46]:
import functools

# Unpivot a single column, thereby creating one data frame
def unpivot_column(df, other, pivot_column, pivot_value, result_column):
    columns = [df[c] for c in other] + \
        [sf.lit(pivot_value).alias(pivot_column)] + \
        [df[pivot_value].alias(result_column)]
    return df.select(*columns)

# Unpivot multiple columns by using the above method
def unpivot(df, pivot_column, pivot_values, result_column):
    """
    df - input data frame
    pivot_column - the name of the new column containg each pivot column name
    pivot_values - the list of pivoted column names
    result_column - the name of the column containing the values of the pivot columns
    """
    common_columns = [f.name for f in df.schema.fields if not f.name in pivot_values]
    unpivot_dfs = [unpivot_column(df, common_columns, pivot_column, v, result_column) for v in pivot_values]
    return functools.reduce(lambda x,y: x.union(y), unpivot_dfs)

Let's test the function

In [47]:
product_lines = ["Camping Equipment", "Golf Equipment", "Mountaineering Equipment", "Outdoor Protection", "Personal Accessories"]
result_per_product_line = unpivot(revenue_per_product_line, "Product Line", product_lines, "Revenue")
result_per_product_line.toPandas()

      Quarter Retailer Country          Product Line      Revenue
0     Q3 2013           Sweden     Camping Equipment   1433530.62
1     Q4 2012            Spain     Camping Equipment   3264717.34
2     Q2 2013            Italy     Camping Equipment   5873795.00
3     Q3 2012    United States     Camping Equipment  15847275.46
4     Q1 2014      Switzerland     Camping Equipment   3966205.47
5     Q2 2012          Germany     Camping Equipment   5315912.78
6     Q1 2013            China     Camping Equipment   7745789.40
7     Q2 2014          Austria     Camping Equipment   4221897.72
8     Q1 2014            China     Camping Equipment   9213181.55
9     Q4 2012           France     Camping Equipment   6286894.57
10    Q4 2013            China     Camping Equipment   8321270.01
11    Q3 2014          Finland     Camping Equipment   2457150.46
12    Q1 2013            Italy     Camping Equipment   4914143.08
13    Q1 2013           Mexico     Camping Equipment   6515122.78
14    Q3 2013   United Kingdom     Camping Equipment   6736706.28
15    Q2 2013        Singapore     Camping Equipment   5820293.04
16    Q2 2012          Belgium     Camping Equipment   2646928.76
17    Q2 2013      Switzerland     Camping Equipment   3375814.41
18    Q4 2013          Austria     Camping Equipment   3576398.08
19    Q3 2012          Finland     Camping Equipment   4218633.64
20    Q1 2014            Italy     Camping Equipment   5982691.54
21    Q1 2014   United Kingdom     Camping Equipment   8467013.28
22    Q2 2013            Spain     Camping Equipment   4869330.11
23    Q3 2012          Austria     Camping Equipment   2413942.07
24    Q3 2012            China     Camping Equipment   6442925.78
25    Q2 2013          Germany     Camping Equipment   7267089.08
26    Q3 2012           Canada     Camping Equipment   5912444.81
27    Q2 2012            Italy     Camping Equipment   3614435.27
28    Q3 2014          Austria     Camping Equipment   1507007.48
29    Q3 2014          Denmark     Camping Equipment    697094.66
...       ...              ...                   ...          ...
1125  Q3 2012        Singapore  Personal Accessories   3185131.58
1126  Q3 2012            Italy  Personal Accessories   4604389.26
1127  Q1 2012    United States  Personal Accessories  19568893.66
1128  Q2 2013            Korea  Personal Accessories   4541102.44
1129  Q2 2014            Korea  Personal Accessories   6415930.38
1130  Q2 2014            Italy  Personal Accessories   7545397.78
1131  Q4 2013           Canada  Personal Accessories  10555152.62
1132  Q3 2012           Brazil  Personal Accessories   3599024.26
1133  Q1 2012            Japan  Personal Accessories   9144609.59
1134  Q2 2014        Singapore  Personal Accessories   8123224.71
1135  Q2 2014            China  Personal Accessories  11918485.44
1136  Q3 2014            Japan  Personal Accessories   5736853.37
1137  Q3 2013            Spain  Personal Accessories   4945793.87
1138  Q4 2013           Sweden  Personal Accessories   3969724.09
1139  Q1 2013      Switzerland  Personal Accessories   4041078.26
1140  Q2 2013           Canada  Personal Accessories  11019924.56
1141  Q4 2013    United States  Personal Accessories  30869438.90
1142  Q4 2012      Switzerland  Personal Accessories   3163975.60
1143  Q1 2013           Canada  Personal Accessories   8344900.87
1144  Q2 2013           Brazil  Personal Accessories   4693276.33
1145  Q4 2013      Netherlands  Personal Accessories   5927022.84
1146  Q1 2014          Belgium  Personal Accessories   4741066.31
1147  Q4 2012           Brazil  Personal Accessories   3708688.48
1148  Q4 2013          Denmark  Personal Accessories   2933316.93
1149  Q1 2014          Finland  Personal Accessories   5746147.32
1150  Q2 2014           Sweden  Personal Accessories   4531302.06
1151  Q2 2014          Belgium  Personal Accessories   5111504.00
1152  Q2 2014    United States  Personal Accessories  36187901.13
1153  Q2 2013          Belgium  Personal Accessories   4154780.66
1154  Q2 2013           France  Personal Accessories   9143757.02

[1155 rows x 4 columns]

## 3.3 Exercise

Now unpivot the result of exercise 2.1. You can do that either manually or try using the generic function defined above.