# Strings and Printing

In [1]:
hello = "Hello"
world = "World!"

print(hello + " " + world)

Hello World!

In [3]:
print("%s %s" % (hello,world))

Hello World!

In [6]:
print("{0} {1}".format(hello,world))

Hello World!

In [7]:
s = hello + " " + world
s

'Hello World!'

In [8]:
s[2:8]

'llo Wo'

# Numeric Values

In [10]:
n = 10
m = 10 / 3

print("m=" + str(m))

m=3.3333333333333335

# Arrays and Loops

In [11]:
names = ["Alice","Bob","Charlie"]

for n in names:
    print(n)

Alice
Bob
Charlie

In [12]:
print(names[1])

Bob

In [13]:
print(names[0:2])

['Alice', 'Bob']

# Sets and Dictionaries

In [15]:
names = {"Alice", "Bob", "Alice"}

for n in names:
    print(n)

Bob
Alice

In [17]:
names_ages = {"Alice":23, "Bob":27, "Charlie":33}

for na in names_ages.items():
    print(na)

('Charlie', 33)
('Bob', 27)
('Alice', 23)

In [18]:
print("Alice is %d years old" % names_ages["Alice"])

Alice is 23 years old

# Functions

In [19]:
def print_age(name):
    print("%s is %d years old" %(name, names_ages[name]))
    
print_age("Alice")

Alice is 23 years old

In [20]:
print_age("Eve")

KeyError: 'Eve'

# Conditions

In [22]:
def print_age(name):
    if name in names_ages:
        print("%s is %d years old" %(name, names_ages[name]))
    else:
        print("%s is not known" % name)
        
print_age("Bob")
print_age("Eve")

Bob is 27 years old
Eve is not known